div.item a {
  color: grey;
}

.gradient {
  background: #D38312; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #D38312 , #A83279); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #D38312 , #A83279); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 3px;
}

.active {
  color: #A73376 !important;
}

menu.item:hover {
  color: #A73376 !important
}

#nav {
  border: none;
  margin-top: 0;
  margin-bottom: 20px;
}

#nav-title {
  color: grey;
}
